{
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "singleAttributePerLine": false,
    "semi": false,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-organize-imports"],
    "overrides": [
        { "files": "*.svelte", "options": { "parser": "svelte" } }
    ]
}
