button {
    background-color: #0000001f;
    border: none;
    transition: opacity 0.4s, background-color 0.1s;
    text-align: center;
    font-size: 6vmin;
    height: 8vmin;
    width: 8vmin;
    border-radius: 10%;
    cursor: pointer;
}

button:hover {
    background-color: #0000002f
}

button:active {
    background-color: #00000037;
}

.hidden {
    opacity: 0;
    cursor: initial;
}

.delayed {
    transition: opacity 0.4s 0.8s, background-color 0.2s;
}

.delayed.hidden {
    transition: opacity 0.4s, background-color 0.1s;
}

.buttonPanel {
    display: flex;
    flex-direction: row;
    gap: 2vmin;
    padding: 2vmin;
}

@media screen and (prefers-color-scheme: dark) {
    button {
        background-color: #ffffff2f;
    }

    button:hover {
        background-color: #ffffff1f;
    }
    
    button:active {
        background-color: #ffffff17;
    }
}
