main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-grid {
    width: 90vmin;
    height: 90vmin;
    padding: 2%;
    box-sizing: border-box;
    --highlight-color: #0000000f;
    --border-width: max(2px, 0.5vmin);
    border-radius: 3%;
}

@media screen and (min-width: 500px) {
    .game-grid {
        width: 80vmin;
        height: 80vmin;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .game-grid {
        --highlight-color: #ffffff1f;
    }
}

/* BORDERS */

.cell,
.supercell {
    border-left: var(--border-width) solid var(--fg-color);
    border-top: var(--border-width) solid var(--fg-color);
}

.cell:nth-child(3n+1),
.supercell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(-n+3),
.supercell:nth-child(-n+3) {
    border-top: none;
}

/* ACTIVE HIGHLIGHTING */

.game-grid,
.subgrid {
    transition: background-color 0.4s;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.supercell {
    padding: 5%;
}

.subgrid {
    padding: 5%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10%;
}

.subgrid.allowed,
.game-grid.allowed {
    background-color: var(--highlight-color);
}

.allowed .subgrid.allowed {
    background-color: transparent;
}

/* WIN DIMMING */

.player-1 .cell,
.player-2 .cell,
.tie .cell {
    animation: dim 0.4s 0.4s;
    animation-fill-mode: both;
}

@keyframes dim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}
