/* VARIABLES AND POSITIONING */

:root {
    --player1-color: #ff0000;
    --player2-color: #007fff;
    --player1-highlight-color: #ff7f7f3f;
    --player2-highlight-color: #7fbfff3f;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --player1-highlight-color: #ff7f7f27;
        --player2-highlight-color: #7fbfff27;
    }
}

.subgrid,
.mark {
    /*Needed to position pseudo-children*/
    position: relative;
}

.subgrid {
    --marker-border-width: max(8px, 2vmin);
}

.mark {
    --marker-border-width: max(3px, 0.5vmin);
}

.mark.allowed {
    cursor: pointer;
}

/* DRAWING */

.player1 {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.player1::before,
.player1::after {
    height: var(--marker-border-width);
    width: 100%;
    background-color: var(--player1-color);
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
}

.player1::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.player1::after {
    transform: translate(-50%, -50%) rotate(135deg);
}

.player2 {
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    border-radius: 50%;
    border: var(--marker-border-width) solid var(--player2-color);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

/* ANIMATION CONTROL */

.player1, .player2 {
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.player1Turn .mark.allowed:hover .player1,
.player2Turn .mark.allowed:hover .player2 {
    opacity: 0.4;
    transition: opacity 0.15s;
}

.player1Win > .player1,
.player2Win > .player2 {
    opacity: 1;
    transition: opacity 0s;
}

.player1Win > .player1::before,
.player1Win > .player1::after,
.player2Win > .player2 {
    animation-fill-mode: both;
}

.player2Win > .player2 {
    animation: wipe-radial 0.4s linear;
}

.player1Win > .player1::before {
    animation: wipe-right-fast 0.4s linear;
}

.player1Win > .player1::after {
    animation: wipe-right-delay 0.4s linear;
}

/* SUBGRID ADJUSTMENTS */

/* .subgrid > .player1
.subgrid > .player2 {
    z-index: 1;
} */

.subgrid > .player1::before,
.subgrid > .player1::after,
.subgrid > .player2 {
    animation-delay: 0.4s;
    animation-fill-mode: both;
}

.allowable {
    transition: background-color 0.4s;
}

.player1Turn .allowable.allowed,
.player1Turn.allowed {
    background-color: var(--player1-highlight-color);
}

.player2Turn .allowable.allowed,
.player2Turn.allowed {
    background-color: var(--player2-highlight-color);
}

.allowed .allowable.allowed {
    background-color: transparent;
}

/* WIN DIMMING */

.mark {
    transition: opacity 0.4s;
}

.player1Win .mark,
.player2Win .mark,
.tie .mark {
    opacity: 0.4;
    transition: opacity 0.4s 0.4s;
}

/* ANIMATION KEYFRAMES */

@keyframes wipe-radial {
    0% {
        clip-path: polygon(50% 50%, 50% -50%, 50% -50%, 50% -50%, 50% -50%, 50% -50%);
    }

    25% {
        clip-path: polygon(50% 50%, 50% -50%, 150% 50%, 150% 50%, 150% 50%, 150% 50%);
    }

    50% {
        clip-path: polygon(50% 50%, 50% -50%, 150% 50%, 50% 150%, 50% 150%, 50% 150%);
    }

    75% {
        clip-path: polygon(50% 50%, 50% -50%, 150% 50%, 50% 150%, -50% 50%, -50% 50%);
    }

    100% {
        clip-path: polygon(50% 50%, 50% -50%, 150% 50%, 50% 150%, -50% 50%, 50% -50%);
    }
}

@keyframes wipe-right-fast {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0);
    }

    100% {
        clip-path: inset(0);
    }
}

@keyframes wipe-right-delay {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0);
    }
}
