.game-grid {
    width: 80vmin;
    height: 80vmin;
    --player-1-color: #ff0000;
    --player-2-color: #007fff;
    --highlight-color: #0000000f;
    --border-width: 0.3em;
    border-radius: 3%;
}

@media screen and (prefers-color-scheme: dark) {
    .game-grid {
        --highlight-color: #ffffff1f;
    }
}

.game-grid,
.subgrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    transition: background-color 0.4s;
}

.cell {
    /*Needed to position pseudo-children*/
    position: relative;
    --marker-border-width: 0.3em;
    --marker-opacity: 1;
}

.cell.allowed {
    cursor: pointer;
}

.cell,
.supercell {
    border-left: var(--border-width) solid var(--fg-color);
    border-top: var(--border-width) solid var(--fg-color);
}

.cell:nth-child(3n+1),
.supercell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(-n+3),
.supercell:nth-child(-n+3) {
    border-top: none;
}

.supercell {
    --marker-border-width: 1em;
    padding: 5%;
}

.subgrid {
    /*Needed to position pseudo-children*/
    position: relative;
    padding: 5%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10%;
}

.cell.allowed:hover::before,
.cell.allowed:hover::after {
    opacity: 0.5;
}

.player-1::before,
.player-1::after,
.player-2::before,
.player-1-turn .cell.allowed:hover::before,
.player-1-turn .cell.allowed:hover::after,
.player-2-turn .cell.allowed:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
}

.player-1::before,
.player-1::after,
.player-2::before {
    animation-fill-mode: both;
}

.subgrid.player-1::before,
.subgrid.player-1::after,
.subgrid.player-2::before {
    z-index: 1;
    /* opacity: 0.7; */
}

.player-1::before,
.player-1::after,
.player-1-turn .cell.allowed:hover::before,
.player-1-turn .cell.allowed:hover::after {
    height: var(--marker-border-width);
    width: 100%;
    background-color: var(--player-1-color);
}

.player-1::before,
.player-1-turn .cell.allowed:hover::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.player-1::after,
.player-1-turn .cell.allowed:hover::after {
    transform: translate(-50%, -50%) rotate(135deg);
}

.player-2::before,
.player-2-turn .cell.allowed:hover::before {
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    border-radius: 50%;
    border: var(--marker-border-width) solid var(--player-2-color);
    transform: translate(-50%, -50%);
}

.player-2::before {
    animation: wipe-radial 0.4s linear;
}

.player-1::before {
    animation: wipe-right-fast 0.4s linear;
}

.player-1::after {
    animation: wipe-right-delay 0.4s linear;
}

.subgrid.player-2::before,
.subgrid.player-1::before,
.subgrid.player-1::after {
    animation-delay: 0.4s;
    animation-fill-mode: both;
}

.subgrid.allowed,
.game-grid.allowed {
    background-color: var(--highlight-color);
}

.allowed .subgrid.allowed {
    background-color: transparent;
}

.player-1 .cell,
.player-2 .cell {
    animation: dim 0.4s 0.4s;
    animation-fill-mode: both;
}

@keyframes wipe-radial {
    0% {
        clip-path: polygon(50% 50%, 50% -50%, 50% -50%, 50% -50%, 50% -50%, 50% -50%);
    }
    25% {
        clip-path: polygon(50% 50%, 50% -50%, 150% 50%, 150% 50%, 150% 50%, 150% 50%);
    }
    50% {
        clip-path: polygon(50% 50%, 50% -50%, 150% 50%, 50% 150%, 50% 150%, 50% 150%);
    }
    75% {
        clip-path: polygon(50% 50%, 50% -50%, 150% 50%, 50% 150%, -50% 50%, -50% 50%);
    }
    100% {
        clip-path: polygon(50% 50%, 50% -50%, 150% 50%, 50% 150%, -50% 50%, 50% -50%);
    }
}

@keyframes wipe-right-fast {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0);
    }

    100% {
        clip-path: inset(0);
    }
}


@keyframes wipe-right-delay {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0);
    }
}

@keyframes dim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}
