:root {
	font-family: 'Helvetica Neue', arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color-scheme: light dark;
	--fg-color: #444;
	--bg-color: #fafafa;
	color: var(--fg-color);
	background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg-color: #fff;
		--bg-color: #1c1c1c;
	}
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}
