:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--fg-color);
  background-color: #1c1c1c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --fg-color: #fff;

  --dialog-color: #242424;
  --button-color: #383838;
  --field-color: #171717;

  --accent-color: #5b1bf0;
  --x-color: #ff1f1f;
  --o-color: #007fff;
  --x-color-focus: #ff7f7f27;
  --o-color-focus: #7fbfff27;
}

.light {
  color: var(--fg-color);
  background-color: #ffffff;

  --fg-color: #1c1c1c;

  --dialog-color: #eeeeee;
  --button-color: #ccc;
  --field-color: #ddd;

  --x-color-focus: #ff7f7f3f;
  --o-color-focus: #7fbfff3f;
}

body {
  margin: 0;
}

html {
  overflow: hidden;
}

button {
  padding: 0.5em;
  background-color: var(--button-color);
  cursor: pointer;
  color: inherit;
  border: none;
  border-radius: 0.5em;
  font-size: inherit;
  transition: filter 0.15s, scale 0.15s;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

input {
  padding: 0.5em;
  background: var(--field-color);
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: inherit;
  border-radius: 0.5em;
}

input:focus {
  outline: 2px solid var(--fg-color);
}

button:hover {
  filter: brightness(1.2);
}

button:active {
  scale: 0.93;
}

.light {
  button:hover {
    filter: brightness(0.9);
  }
}

h2 {
  text-align: center;
}

svg { 
  display: block;
}
